@model IEnumerable<BookViewModel>
<!--begin::Root-->
<div class="d-flex flex-column flex-root page-bg">
    <!--begin::Page-->
    <div class="page launcher sidebar-enabled d-flex flex-row flex-column-fluid me-lg-5" id="kt_page">
        <!--begin::Content-->
        <div class="d-flex flex-row-fluid">
            <!--begin::Container-->
            <div class="d-flex flex-column flex-row-fluid align-items-center">
                <!--begin::Menu-->
                <div class="d-flex flex-column flex-column-fluid mb-5 mb-lg-10">
                    <!--begin::Brand-->
                    <div class="d-flex flex-center pt-10 pt-lg-0 mb-10 mb-lg-0 h-lg-225px">
                        <!--begin::Sidebar toggle-->
                        <div class="btn btn-icon btn-active-color-primary w-30px h-30px d-lg-none me-4 ms-n15" id="kt_sidebar_toggle">
                            <i class="ki-duotone ki-abstract-14 fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </div>
                        <!--end::Sidebar toggle-->
                        <!--begin::Logo-->
                        <a href="/metronic8/demo10/../demo10/index.html">
                            <img alt="Logo" src="~/assets/images/logo.png" class="h-70px" />
                        </a>
                        <!--end::Logo-->
                    </div>
                    <!--end::Brand-->
                    <!--begin::Row-->
                    <div class="row g-7 w-xxl-850px justify-content-center">
                        <!--begin::Col-->
                        <div class="col-xxl-5">
                            <!--begin::Card-->
                            <div class="card border-0 shadow-none h-lg-100" style="background-color: #A838FF">
                                <!--begin::Card body-->
                                <div class="card-body d-flex flex-column flex-center pb-0 pt-15 mh-450px">
                                    <!--begin::Wrapper-->
                                    <div class="px-10 mb-10">
                                        <!--begin::Heading-->
                                        <h3 class="text-white mb-2 fw-bolder text-center text-uppercase mb-6">Bokify Staff</h3>
                                        <!--end::Heading-->
                                        <!--begin::Link-->
                                        <a asp-controller="Dashboard" class="btn btn-hover-rise text-white bg-white bg-opacity-10 text-uppercase fs-7 fw-bold">Go To Dashboard</a>
                                        <!--end::Link-->
                                    </div>
                                    <!--end::Wrapper-->
                                    <!--begin::Illustrations-->
                                    <img class="mw-100 h-225px mx-auto mb-lg-n18" src="~/assets/images/staff.png" />
                                    <!--end::Illustrations-->
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-xxl-5">
                            <!--begin::Card-->
                            <div class="card border-0 shadow-none h-lg-100 bg-primary mh-450px">
                                <!--begin::Card body-->
                                <div class="card-body d-flex flex-column flex-center pb-0 pt-15">
                                    <!--begin::Wrapper-->
                                    <div class="px-10 mb-10">
                                        <!--begin::Heading-->
                                        <h3 class="text-white mb-2 fw-bolder text-center text-uppercase mb-6">Find a book</h3>
                                        <!--end::Heading-->
                                        <!--begin::Link-->
                                        <a asp-controller="Search" class="btn btn-hover-rise text-white bg-white bg-opacity-10 text-uppercase fs-7 fw-bold">Go To Books Finder</a>
                                        <!--end::Link-->
                                    </div>
                                    <!--end::Wrapper-->
                                    <!--begin::Illustrations-->
                                    <img class="mw-100 h-225px mx-auto mb-lg-n18" src="~/assets/images/search.png" />
                                    <!--end::Illustrations-->
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Menu-->
            </div>
            <!--begin::Content-->
        </div>
        <!--begin::Content-->
        <!--begin::Sidebar-->
        <div id="kt_sidebar"
             class="sidebar px-5 py-5 py-lg-8 px-lg-11"
             data-kt-drawer="true"
             data-kt-drawer-name="sidebar"
             data-kt-drawer-activate="{default: true, lg: false}"
             data-kt-drawer-overlay="true"
             data-kt-drawer-width="375px"
             data-kt-drawer-direction="end"
             data-kt-drawer-toggle="#kt_sidebar_toggle">

            <!--begin::Header-->
            <div class="d-flex flex-stack mb-5 mb-lg-8" id="kt_sidebar_header">
                <!--begin::Title-->
                <h2 class="text-white">Newly Added Books</h2>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="mb-5 mb-lg-8" id="kt_sidebar_body">
                <!--begin::Scroll-->
                <div class="hover-scroll-y me-n6 pe-6" id="kt_sidebar_body" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_sidebar_header, #kt_sidebar_footer" data-kt-scroll-wrappers="#kt_page, #kt_sidebar, #kt_sidebar_body" data-kt-scroll-offset="0">
                    <div class="pb-20">
                        @foreach (var book in Model)
                        {
                            <!--begin::Item-->
                            <a asp-controller="Search" asp-action="Details" asp-route-id="@book.Key" class="d-flex flex-stack">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-60px me-4">
                                    <img src="@book.ImageThumbnailUrl" class="" alt="" />
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <!--begin:Author-->
                                    <div class="flex-grow-1 me-2">
                                        <h5 class="text-white text-hover-primary fs-5 fw-bolder">@book.Title</h5>
                                        <span class="text-gray-400 fw-semibold d-block fs-6">@book.Author</span>
                                    </div>
                                    <!--end:Author-->
                                </div>
                                <!--end::Section-->
                            </a>
                            <!--end::Item-->
                            @if (book != Model.Last())
                            {
                                <!--begin::Separator-->
                                <div class="separator separator-dashed my-5"></div>
                                <!--end::Separator-->
                            }
                        }
                    </div>

                </div>
                <!--end::Scroll-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Sidebar-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->